app-router/.eslintrc.json
app-router/.gitignore
app-router/jsconfig.json
app-router/next.config.mjs
app-router/package-lock.json
app-router/package.json
app-router/README.md
app-router/public/next.svg
app-router/public/vercel.svg
app-router/src/app/favicon.ico
app-router/src/app/globals.css
app-router/src/app/layout.js
app-router/src/app/page.js
app-router/src/app/page.module.css
page-router/.eslintrc.json
page-router/.gitignore
page-router/jsconfig.json
page-router/next.config.mjs
page-router/package-lock.json
page-router/package.json
page-router/README.md
page-router/pages/_app.js
page-router/pages/_document.js
page-router/pages/index.js
page-router/pages/api/hello.js
page-router/public/favicon.ico
page-router/public/next.svg
page-router/public/vercel.svg
page-router/styles/globals.css
page-router/styles/Home.module.css
